*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Merriweather-Light';
    src: url('./font/Merriweather-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Merriweather-Light';
    line-height: 1.6;
    background-color: #F1EDE2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #1f211c;
}

.logo{
    width: 13%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

nav{
    background-color: #7F674D;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

li{
    flex: 1;
    max-width: 100px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;

}

li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #8BA095;
    transition: width 0.3s ease;
}

li a:hover::after{
    width: 100%;
}

.cuadro {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuadro h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.cuadro p, .cuadro ul {
    color: black;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7F674D;
    color: white;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria img {
    width: calc(15% - 50px);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1f211c;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
}